<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.ksha23.preroll.helper</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Library/PrivilegedHelperTools/com.ksha23.preroll.helper</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Library/Application Support/Preroll/request</string>
  </array>
  <key>ThrottleInterval</key><integer>1</integer>
</dict>
</plist>
